*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container1{
    margin-left: 7%;
    margin-right: 7%;
}

.row{
    margin: 0px;
}

header, .menu{
    background-color: #211b17;
    color: white;
}

header .logo{
    padding-top: 7px;
    padding-bottom: 7px;
}

header img{
    width: 100%;
    height: auto;
    min-width: 180px;
    max-width: 260px;
}

header .logOut{
    text-decoration: none;
    text-align: right;
    display: inline-block;
    padding: 15px;

}

header a{
    padding: 6px;
    padding-bottom: 7px;
    border: 1.5px solid #daa520;
    border-radius: 6px;
    color: #fff4d8;
    font-weight: 600;
}

header a:hover{
    text-decoration: none;
    background-color: #daa520;
    color: #000;
    border: none;
}
header a:active{
    text-decoration: none;
    background-color: #daa520;
    color: #000;
    border: none;
}

h1{
    text-align: center;
}

div .cart{
    text-align: right;
    padding-right: 15px;
}

.content{
    background-color: #fff4d8;
}

div .food{
    text-align: center;
}

div .food:hover{
    background-color: #eeebb6;
}

button{
    border: green solid 1px;
    border-radius: 6px;
    background-color: green;
    color: white;
    padding: 3px 6px 3px 6px;
    margin-bottom: 10px;
}

button:hover{
    background-color: #c37011;
    border: #c37011 solid 1px;
}

footer{
    background-color: #211b17;
    color: #fff4d8;
}

footer .row{
    padding-top: 15px;
}

footer img{
    width: 100%;
    height: auto;
    min-width: 100px;
    max-width: 200px;
    padding-bottom: 12px;
}

footer .footerText{
    text-align: center;
    padding-top: 0.7%;
}

.cart1{
    background-color: #fff4d8;
    margin-bottom: 0;
}

.btn-p{
    text-align: center;
    padding-bottom: 15px;
}

a{
    text-decoration: none;
}

div .cart svg path{
    color: white;
    background-color: white;
}

div .cart svg path:hover{
    background-color: #c37011;
    color: #c37011;
}













.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    color: #333;
    text-align: center;
    font-size: 2.5em;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    margin: 0;
    font-size: 1em;
    background-color: green;
    border: green solid 1px;
    border-radius: 6px;
    padding: 3px 6px 3px 6px;
}

.btn-purchase:hover{
    background-color: #c37011;
    border: #c37011 solid 1px;
}



